/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
 @import "color";
 @import "variables";
 @import "wizard";
 @import "reset";
 @import "responsive";